<article>
	<h1>Hello World!</h1>
	<p>
		Welcome to the world of Vieber.
	</p>
</article>
<article>
	<h1>Get from DB using Hashdown in HTML</h1>
	<ul>
	{{foreach ($app->test as $foo)}}
		<li>{{$foo->foo}}</li>
	{{/foreach}}
	</ul>
</article>

<article>
	<h1>Get from DB using PHP in HTML</h1>
	<ul>
		<? foreach ($app->test as $foo): ?>
		<li><? echo $foo->foo; ?></li>
		<? endforeach; ?>
	</ul>
</article>

<article>
	<h1>Testing Links</h1>
	<ul>
		<li><a href="{{url test}}">Test Page</a></li>
		<li><a href="{{url curl}}">Test CURL</a></li>
	</ul>
</article>